<html>
    <head>
        <title>Geek World blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Le Blog du Geek ultime</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Je crée ce blog pour que nous puissions partagers connaissances et avis dans le monde de la geekosphère que ce soit dans les nouvelles techs, du  gaming, de l'animation, mangas, comics ou du cinéma & series!! </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Mon second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>

